/*--------------------------------------------------------------
전체 틀 
--------------------------------------------------------------*/
input[id="sidebaricon"] {
  display: none;
}
/*헤더*/
header {
  width: 100%;
  background: #e5e5e5;
}
header > div {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
header > div ul.nav1 > {
  font-size: 0;
}
header > div ul.nav1 > li {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
header > div ul.nav1 > li > a {
  display: block;
  width: auto;
  padding: 20px;
}
header > div ul.nav1 > li.logo > a {
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 900;
}

/*각 영역의 라벨(중앙정렬)*/
.area_desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

/*메뉴버튼*/
.sidebarbtn {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
.sidebarbtn span {
  display: block;
  position: absolute;
  width: 80%;
  height: 5px;
  border-radius: 30px;
  background: #222;
  transition: all 0.35s;
}
.sidebarbtn span:nth-child(1) {
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.sidebarbtn span:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sidebarbtn span:nth-child(3) {
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

/*컨텐츠 영역*/
.sidebarcontainer {
  width: 100%;
  position: relative;
}
.sidebarcontainer .sidecontents {
  width: 1200px;
  margin: 0 auto;
  min-height: 700px;
  background: #f1f1f1;
}
.sidebarcontainer .sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 200px;
  height: 100%;
  background: rgba(126, 144, 184, 0.829);
  z-index: 30;
  transition: 0.35s;
}
.sidebarcontainer .sidebar.area_descp {
  font-size: 1rem;
  color: #f8f8ff;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  display: inline-block;
  border-radius: 10px;
  background-color: #504b4b;
  border-bottom: 5px solid #8ba2aa;
}

/*체크 변화값-사이드박스아이콘 눌렀을 떄 아이콘 변화*/
input[id="sidebaricon"]:checked ~ header .sidebarbtn {
  z-index: 2;
}
input[id="sidebaricon"]:checked ~ header .sidebarbtn span:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}
input[id="sidebaricon"]:checked ~ header .sidebarbtn span:nth-child(2) {
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
}
input[id="sidebaricon"]:checked ~ header .sidebarbtn span:nth-child(3) {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(-135deg);
}
input[id="sidebaricon"]:checked ~ .sidebarcontainer .sidebar {
  right: 0;
}
/*--------------------------------------------------------------
# Data 옵션 버튼
--------------------------------------------------------------*/

.databtn {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  margin: 50px;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.1s;
  background-color: #b1c6db;
  border-bottom: 5px solid #85a8d1;
}
li.databtn {
  margin-bottom: 5px;
  padding: 10px 20px 10px 20px;
}
.databtn a {
  color: white;
}
.databtn1 {
  text-align: center;
}
.btn:active {
  transform: translateY(3px);
  border-bottom: 2px solid #165195;
}
#menu_wrap .dataoption .databtn {
  margin-left: 5px;
}

/*--------------------------------------------------------------
# map
--------------------------------------------------------------*/
a {
  color: black;
  text-decoration: none;
}

#map {
  /* left: 350px; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 12px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.bg_white {
  left: 0px;
  width: 320px;
  height: 70%;
  display: inline-block;
}
.bg_white {
  background: rgb(230, 230, 250);
}

.map_wrap {
  position: relative;
  width: 100%;
  height: 400px;
}

#placesList li {
  list-style: none;
}

#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#placesList .item span {
  display: block;
  margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#placesList .item .info {
  padding: 10px 0 10px 55px;
}

#placesList .info .gray {
  color: #8a8a8a;
}

#placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
  color: #009900;
}

#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {
  background-position: 0 -10px;
}

#placesList .item .marker_2 {
  background-position: 0 -56px;
}

#placesList .item .marker_3 {
  background-position: 0 -102px;
}

#placesList .item .marker_4 {
  background-position: 0 -148px;
}

#placesList .item .marker_5 {
  background-position: 0 -194px;
}

#placesList .item .marker_6 {
  background-position: 0 -240px;
}

#placesList .item .marker_7 {
  background-position: 0 -286px;
}

#placesList .item .marker_8 {
  background-position: 0 -332px;
}

#placesList .item .marker_9 {
  background-position: 0 -378px;
}

#placesList .item .marker_10 {
  background-position: 0 -423px;
}

#placesList .item .marker_11 {
  background-position: 0 -470px;
}

#placesList .item .marker_12 {
  background-position: 0 -516px;
}

#placesList .item .marker_13 {
  background-position: 0 -562px;
}

#placesList .item .marker_14 {
  background-position: 0 -608px;
}

#placesList .item .marker_15 {
  background-position: 0 -654px;
}

#pagination {
  margin: 10px auto;
  text-align: center;
}

#pagination a {
  display: inline-block;
  margin-right: 10px;
}

#pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}

#user_list {
  position: absolute;
  display: inline-block;
  margin: 5px;
  margin-top: 0;
  padding-top: 0;
  padding: 5px;
  background: rgba(47, 99, 121, 0.55);
  font-size: 12px;
  border-radius: 5px;
  left: 3px;
  top: 430px;
  width: 300px;
  height: 150px;
}

#centerAddr {
  font-weight: bold;
}

.category button {
  font-size: 0.7rem;
}

.custom-select {
  height: 35px;
}

.dropdown-item {
  font-size: 14px;
}
